@model IEnumerable<Warehouse_Management_System.Models.HomeViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clients list</h1>
</div>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="callChangefunc(@item.Id)">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockQuantity)
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function callChangefunc(value) {
        window.location.href = "/Clients/Details/" + value;
    }
</script>